{% extends "base.html" %}

{% block title %}
Generate creative
{% endblock %}

{% block content %}

<div class="container">
    <h1 style="font-size: 35px">Please, provide the file with picture data</h1>
    <form action="{{ url_for('mj_request_default') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div style="text-align: center;"> <!-- Add a container div with center-aligned text -->
            <style>
                /* Style for the text (adjust the font-size as needed) */
                .larger-text {
                    font-size: 20px; /* Adjust the font size as desired */
                }

                /* Style for the file upload button (adjust the padding and font-size as needed) */
                .larger-button {
                    padding: 10px 20px; /* Adjust the padding as desired */
                    font-size: 18px; /* Adjust the font size as desired */
                }
            </style>
            <br>
            {{ form.picture_data_file(class="larger-button") }}
        </div>

    <br>
    <br>
    <br>
</div>
    <div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="About Toolbar">
        <div class="btn-group">

            {{ form.submit() }}
        </div>
    </div>
    </form>




    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 95%;
            margin: 2rem auto;
            padding: 1rem;
            text-align: center;
            background-color: #f2f2f2;
            border-radius: 5px;
        }

        h1 {
            color: #333;
            margin-bottom: 0.5rem;
            font-size: 100%;
        }

        label {
            display: block;
            font-weight: bold;
            margin-top: 0.5rem;
            font-size: 80%;
        }

        input[type="text"], input[type="number"]{
            width: 90%;
            padding: 0.2rem;
            margin-top: 0.15rem;
            box-sizing: border-box;
            border-radius: 5px;
        }

        input[type="submit"] {
            text-align:center;
            display: block;
            margin-top: 1.0rem;
            background: rgba(0,0,0,0.15);
            color: #fff;
            cursor: pointer;
            padding: 10px 25px;
            border: 1px solid #FFCB39;
            border-radius: 100px;
            font-weight: 400;
            width:170px;
        }

        input[type="submit"]:hover {
            background-color: #444;
        }
    </style>
{% endblock %}

