{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
    }

    .image-row img {
            width: 15%; /* Adjust the width as needed */
            max-width: 60%; /* Set a maximum width if desired */
            height: auto; /* Maintain aspect ratio */
            margin-right: 0px; /* Adjust the spacing between images */
        }

    h1 {
        color: #F0FFFF;
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    p {
        color: #F0F8FF;
        font-size: 1.0rem;
        line-height: 1.5;
        margin: 1rem 0;
        text-align: center;
    }

    .container {
        margin: 0 auto;
        padding: 2rem;
        border-radius: 5px;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .letter {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .btn {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 1rem 2rem;
        background-color: #4CAF50;
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }

    .btn:hover {
        background-color: #3e8e41;
        cursor: pointer;
    }
    .animate-charcter
{
   text-transform: uppercase;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #F0FFFF 29%,
        #fd7e14 67%,
        #ffcb39 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 50% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 250%;
    }

    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
</style>
<div class="container">
    <h1 class="animate-charcter">Welcome to the Renesandro App!</h1>
    <p>You can explore the various features and functionalities of our app by navigating through the different pages and
        sections.</p>
<!--    <video width="250px" height="250px" controls="controls" x-webkit-airplay="allow" style="padding:50px;border:1px">-->
<!--        <source src="/main/promo_video.mp4" type="video/mp4"/>-->
<!--    </video>-->
    <div class="image-row">
        <img src="main/promo_video.gif">
        <img src="main/promo_video.gif">
        <img src="main/promo_video.gif">
        <img src="main/promo_video.gif">
        <img src="main/promo_video.gif">
    </div>
    <div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="About Toolbar">
        <div class="btn-group m-4">
            <ul style="padding-left:0%">
               <li><a href="https://www.renesandro.info/" class="btn-request" style="font-size:20px">About</a></li>
                <li><a href="/creative" class="btn-request" style="font-size:20px">Generate</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


